<!-- AngularJS posts -->
<div class="post ng-cloak" ng-show="page.loaded===true" ng-repeat="post in posts">
	<h4>
        <a href="/tag/<% ::post.tags[0].id %>#/list"><span class="stream marker"><% ::post.tags[0].name %></span></a>
        <span class="stream marker"><% ::post.author.author_prefix %></span>
        <% ::post.title %>
    </h4>
    <p style="margin-bottom:0;"><% ::post.body.trim() | limitTo: 250 %><span>...</span></p>
    <div style="height:20px;" ng-if="post.photos.length > 0">&nbsp;</div>
    <div class="photo-grid">
        <div ng-repeat="photo in post.photos">
            <div class="row first-row" ng-if="post.photos.length > 0">       
                <div class="col box-1 box-padding" ng-if="$index===0">  
                    <a href="<% ::photo.url %>" class="image-holder" data-lightbox="photogrid_ng<% ::post.id %>" data-title="<div class='view-post'><a href='/post/<% ::post.id %>/#/detail'>View post</a></div><div class='caption'>A very fast car photo</div>" style="background-image: url('<% ::photo.url %>');"></a>                
                </div>
                <div class="col box-2" ng-if="$index===1">
                    <a href="<% ::photo.url %>" class="image-holder" data-lightbox="photogrid_ng<% ::post.id %>" data-title="<div class='view-post'><a href='/post/<% ::post.id %>/#/detail'>View post</a></div><div class='caption'></div>" style="background-image: url('<% ::photo.url %>');"></a>
                </div>
                <!-- placeholders -->
                <!-- need some kind of placeholder image here? -->
                <div class="col box-2" ng-if="post.photos.length === 1">
                    <a href="/signin" class="image-holder color-swatch gray-lighter" style="position:relative;background-color:white;color:#7D7D7D;">
                        <p style="position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;height:34px;z-index:10;text-align: center;font-size: 16px;">
                            <button type="button" class="btn btn-default" style="width:85%">Recommend a photo</button>
                        </p>
                    </a>
                </div>
            </div>
            <div class="row second-row" ng-if="post.photos.length > 2">
                <div class="col box-2 box-padding" ng-if="$index===3">
                    <a href="<% ::photo.url %>" class="image-holder" data-lightbox="photogrid_ng<% ::post.id %>" data-title="<div class='view-post'><a href='/post/<% ::post.id %>/#/detail'>View post</a></div><div class='caption'></div>" style="background-image: url('<% ::photo.url %>');"></a>  
                </div>
                <div class="col box-1" ng-if="$index===4">
                    <a href="<% ::photo.url %>" class="image-holder" data-lightbox="photogrid_ng<% ::post.id %>" data-title="<div class='view-post'><a href='/post/<% ::post.id %>/#/detail'>View post</a></div><div class='caption'></div>" style="background-image: url('<% ::photo.url %>');"></a> 
                </div>
            </div>
        </div>
    </div>
    <div style="height:15px;">&nbsp;</div>
    <!--
    <div class="row" style="margin:0;">
        <div class="col-xs-8 text-left" style="padding:0;">
            <span ng-if="post.photos.length === 0"><a href="/signin">Recommend a photo</a></span>
        </div>
        <div class="col-xs-4 text-right" style="padding:0;">
            <a href="/post/<% ::post.id %>/#/detail">Details</a>
        </div>
    </div>
    -->
    <div class="text-right" style="padding:0;">
        <span ng-if="post.photos.length === 0"><a href="/signin">Recommend a photo</a>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="/post/<% ::post.id %>/#/detail">Details</a>
    </div>
    <hr />
</div>