@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
body {
	background-color:#F3F3F3; 
} 
.navbar {
	border-radius:0;
}
.left-photo {
	padding-right:0;
	div {
		overflow:hidden; 
		width:100%;
		height:182px;
		img {
			height:182px;
		}
	}
}
.right-photo {
	padding-left:10px;
	div {
		overflow:hidden;
		width:100%;
		height:182px;
		img {
			max-width:100%;
		}
	}
} 
// mq
@media (max-width:768px) {
	.left-photo {
		margin-bottom:20px;
	}
	.left-photo, .right-photo {
		padding-left:0;
		padding-right:0;
		div {
			height:auto;
			max-height:240px;
			img {
				width:100%;
				height:auto;
			}
		}
	}
}