<a ng-click="closeOverlay()" style="float:right;position:absolute;top:15px;right:20px;cursor:pointer">
	<span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:27px"></span>
</a>
<div class="row" style="margin-top:65px">
  <div class="col-md-3 hidden-xs hidden-sm">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <form name="postAddForm" action="post/create" method="post" class="post-add-form" enctype="multipart/form-data">
      <input type="hidden" name="_token" />
      <div class="post-add-group">
          <h1>Add Post</h1>
          <div class="alert alert-danger" role="alert" style="margin-bottom:10px;display:none">
              <ul style="font-size:15px;">
                  <!-- to be populated -->
              </ul>
          </div>
          <div class="alert alert-success" role="alert" style="margin-bottom:10px;font-size:15px;display:none;">
              Ready to publish.
          </div>
          <div class="form-group">
            <input type="text" name="title" placeholder="Title" class="form-control entry" style="min-width:400px;height:auto;font-size:17px;" />
          </div>
          <div class="form-group" style="display:none">
            <h4 style="font-size:15px">Similar post found</h4>
            <ul style="font-size:15px">
              <li>xxx</li>  
              <li>xxx</li>
              <li>xxx</li>
              <li>xxx</li>
              <li>xxx</li>
            </ul>  
          </div>
          <div class="form-group">
            <textarea type="text" name="body" placeholder="Body" class="form-control entry" style="min-width:400px;height:300px;font-size:17px;"></textarea>
          </div>
          <div class="form-group get-stream" style="display:none">
            <input type="text" name="stream" placeholder="Stream" ng-model="tagSearchData" ng-change="tagSearch()" class="form-control entry" style="min-width:400px;height:auto;font-size:17px;" />
          </div>
          <div class="form-group tag-results-wrapper" style="display:none">
            <h4 style="font-size:17px">Select a stream</h4>
            <div class="tag-results" style="font-size:17px;">
            </div>  
          </div>
          <div class="create-new-tag" style="display:none;margin:10px 0 20px 0">
              <div style="font-size:17px">Stream <a href="#" data-tag="<% tagSearchData %>" ng-click="createNewStream($event)"><% tagSearchData %></a> not found, be the first to <a href="#" data-tag="<% tagSearchData %>" ng-click="createNewStream($event)">create</a> it.</div>
          </div>
          <!-- stream selection and hidden input refactored -->
          <div class="form-group selected-stream" style="display:none">
            <input type="text" name="displaystream" value="" class="form-control" disabled style="min-width:400px;height:auto;font-size:17px;" />
            <input type="hidden" name="streamid" value="0" />
            <input type="hidden" name="streamname" value="0" />
            <a href="javascript:void(0)" style="font-size:15px;display:block;margin-top:8px;" ng-click="changeStream()">Change stream</a> 
          </div>
          <div class="form-group text-right">
            <span style="font-size:15px;">Added 4 images | </span><a href="javascript:void(0)" style="font-size:15px" ng-click="addImage()">update</a><br />
            <a href="javascript:void(0)" style="font-size:15px" ng-click="addImage()">Add image (optional)</a> 
          </div>
          <!-- image preloader -->
          <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:<%picFile.progress%>%" 
            ng-bind="picFile.progress + '%'"></div>
          </span>
          <span ng-show="picFile.result">Upload Successful</span>
          <span class="err" ng-show="errorMsg"><%errorMsg%></span>
          <!-- image preloader end -->
          <div class="form-group text-right">
            <!-- ng-disabled="!postAddForm.$valid" -->
            <button type="button" ng-click="publish(picFile)" class="btn edit-button btn-primary" style="height:38px;font-size:16px">Publish</button>
          </div>
        </div>
        <!-- image section -->
        <div class="image-add-group" style="display:none;">
          <h1>Add Image</h1>
          <div class="form-group">
            <label>Select an image</label> 
            <!-- select an image -->
            <input type="file" class="form-control" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles">
            <i ng-show="postAddForm.file.$error.maxSize">File too large <% errorFiles[0].size / 1000000|number:1%>MB: max 2M</i>
            <img ng-show="postAddForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>       
          </div> 
          <div class="form-group text-right" style="margin-top:40px;">
            <button type="button" class="btn btn-primary" style="height:38px;font-size:16px">Add another</button>
            <button type="button" class="btn btn-primary" style="height:38px;font-size:16px" ng-click="goBack()">Go back</button>
          </div>
        </div>
      </form>
  </div>  
</div>